body{
    padding: 0;
    margin: 0;
    background-image: url("image/library.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    }
    /*  Header */
    .nav{
        background-color: rgb(25, 22, 22);
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        
    }
    
    .name h1{
        padding-left: 15vw;
        text-align: center;
        font-family: simplifica;
        font-size: 50px;
        font-weight: bold;
        color: white;
    }
    .mid{
        display: inline;
        display: flexbox;
    }
    .tit{
        border: 2px black solid;
        font-size: 25px;
        background-color: aqua;
        font-weight: bolder;
        color: rgb(19, 17, 17);
        margin-top: 0px;
        text-align: center;
    }
    .submitbutton{
        text-align: center;
        
        font-weight: bold;
        font-size: 17px;
        background-color: antiquewhite;
    }
    .submitform{
        text-align: center;
    }

    /* ........... */
    p {
        margin: 0;
        line-height: 1.6;
    }
    
    ol {
        list-style: none;
        counter-reset: list;
        padding: 0 1rem;
    }
    
    li {
        --stop: calc(100% / var(--length) * var(--i));
        --l: 62%;
        --l2: 88%;
        --h: calc((var(--i) - 1) * (180 / var(--length)));
        --c1: hsl(var(--h), 71%, var(--l));
        --c2: hsl(var(--h), 71%, var(--l2));
        
        position: relative;
        counter-increment: list;
        max-width: 45rem;
        margin: 2rem auto;
        padding: 2rem 1rem 1rem;
        box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
        border-radius: 0.25rem;
        overflow: hidden;
        background-color: white;
        text-decoration: none;
    }
    
    li::before {
        content: '';
        display: block;
        width: 100%;
        height: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        text-decoration: none;
        background: linear-gradient(to right, var(--c1) var(--stop), var(--c2) var(--stop));
    }
    
    h3 {
        display: flex;
        align-items: baseline;
        margin: 0 0 1rem;
        color: rgb(70 70 70);
        text-decoration: none;
    }
    
    h3::before {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
        margin-right: 1rem;
        width: 3rem;
        height: 3rem;
        content: counter(list);
        padding: 1rem;
        border-radius: 50%;
        background-color: var(--c1);
        color: white;
        text-decoration: none;
    }
ol a{
    text-decoration: none;
}

/* footer part */
.footer{
    margin-bottom: 0;
    padding-bottom: 0;
}

.footer_container {
    padding: 30px 0px 40px 0px;
    background: #FAFBFC;
    display: flex;
    justify-content: space-evenly;
}

.footer_column {
    display: flex;
    flex-direction: column;
}

.footer_column h1 {
    color: #282c3f;
    font-size: 25px;
    margin-bottom: 25px;
}

.footer_column a {
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}

.copyright {
    color:  white;
    text-align: end;
    padding: 15px;
}
/* books */

.featured_boks{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
    margin: 0;

}

.featured_boks h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 45px;
    background-color: antiquewhite;
}

.featured_boks .featured_book_box{
    width: 95%;
    height: 60vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    overflow-x: scroll;
}

.featured_boks .featured_book_box .featured_book_card{
    width: 250px;
    height: 420px;
    text-align: center;
    padding: 5px;
    border: 1px solid #919191;
    margin: auto 20px;
    background-color: white;
}

.featured_boks .featured_book_box .featured_book_card:hover{
    box-shadow: 0 0 5px #089da1;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_img img{
    width: 150px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag h2{
    margin: 12px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .writer{
    color: #919191;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .categories{
    color: #089da1;
    margin-top: 8px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .book_price{
    margin-top: 8px;
    font-weight: bold;
    margin-bottom: 15px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .book_price sub{
    font-weight: 100;
    padding: 0 5px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .f_btn{
    padding: 8px 20px;
    border: 2px solid #089da1;
    text-decoration: none;
    color: #000;
}

::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb{
    background: #089da1;
    border-radius: 10px;
}




/*arrivals*/

.arrivals{
    width: 100%;
    height: 100vh;
    margin-bottom: 35px;
}

.arrivals h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 35px;
    background-color: antiquewhite;
}

.arrivals .arrivals_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px 0;
}

.arrivals .arrivals_box .arrivals_card{
    width: 250px;
    height: 340px;
    text-align: center;
    padding: 5px;
    border: 1px solid #919191;
    margin: auto 20px;
    background-color: white;
}

.arrivals .arrivals_box .arrivals_card:hover{
    box-shadow: 0 0 5px #089da1;
}

.arrivals .arrivals_box .arrivals_card .arrivals_image{
    width: 150px;
    height: 220px;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    overflow: hidden;
}

.arrivals .arrivals_box .arrivals_card .arrivals_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.arrivals .arrivals_box .arrivals_card:hover .arrivals_image img{
    transform: scale(1.1);
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag p{
    font-family: queen of camelot;
    font-size: 20px;
    margin: 8px 0;
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag .arrivals_icon{
    color: #089da1;
    margin-bottom: 18px;
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag .arrivals_btn{
    padding: 8px 20px;
    border: 2px solid #089da1;
    text-decoration: none;
    color: #000;
}



